<div class="qr-history" [class.expanded]="isExpanded">
  <div class="history-header">
    <button class="toggle-button" (click)="toggleExpand()">
      <i class="fas" [class.fa-chevron-left]="!isExpanded" [class.fa-chevron-right]="isExpanded"></i>
    </button>
    <span *ngIf="isExpanded">QR History</span>
    <button *ngIf="isExpanded" class="clear-button" (click)="clearHistory()">
      <i class="fas fa-trash"></i>
    </button>
  </div>
  
  <div class="history-content" *ngIf="isExpanded">
    <div class="history-entry" *ngFor="let entry of history$ | async">
      <div class="entry-timestamp">{{ entry.timestamp | date:'HH:mm:ss' }}</div>
      <div class="entry-content">{{ entry.content }}</div>
    </div>
  </div>
</div> 